<div>
  <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    Account-Owner Home
  </a>
</div>
<div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
  <ul fxLayout fxLayoutGap="20px" class="navigation-items">
      <li>
          <a [routerLink]="['/owner/list']" routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">
            <mat-icon class="icon">input</mat-icon>
            <span  class="label">Owner Actions</span>
           </a>
      </li>
      <li>
        <a routerLink="/">
            <mat-icon class="icon">home</mat-icon>
            <span class="label">Account Actions</span>
        </a>
      </li>
  </ul>
</div>