<table class="table table-hover">
  <thead>
      <tr>
          <td>Site Name</td>
          <td>Is Downloaded</td>
          <td>Rss Subscribed</td>
          <td>Date Downloaded</td>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let sitedownload of sitedownloads" [routerLink]="['/sitedownload']" [queryParams]="{ id: sitedownload.id }">
          <td>{{sitedownload.siteName}}</td>
          <td>{{sitedownload.isDownloaded}}</td>
          <td>{{sitedownload.rssSubscribed}}</td>
          <td>{{sitedownload.dateDownloaded}}</td>
      </tr>
  </tbody>
</table> 